<div class="row">
  <div class="col">
    <app-my-input [title]="'Nom'" [placeholder]="'Introduir Nom'" [name]="'CAM_PFS_NOM'" [attachedFormGroup]="attachedFormGroup"
      [required]="true" [minLength]="2" [maxLength]="20"></app-my-input>
  </div>
  <div class="col">
    <app-my-input [title]="'Primer cognom'" [placeholder]="'Introduir primer cognom'" [name]="'CAM_PFS_APE_1'" [attachedFormGroup]="attachedFormGroup"
      [required]="true"></app-my-input>
  </div>
  <div class="col">
    <app-my-input [title]="'Segon cognom'" [placeholder]="'Introduir segon cognom'" [name]="'CAM_PFS_APE_2'" [attachedFormGroup]="attachedFormGroup"
      [readOnly]="false"></app-my-input>
  </div>
</div>
<div class="row">
  <div class="col-1">
    <app-my-input [title]="'Edat'" [placeholder]="'nnn'" [name]="'CAM_PFS_EDAT'" [attachedFormGroup]="attachedFormGroup" [minLength]="2"
      [required]="false" [maxLength]="3" [readOnly]="true"></app-my-input>
  </div>
  <div class="col-4">
    <app-my-sso [attachedFormGroup]="attachedFormGroup" [title]="'Número Seguretat Social'" [name]="'CAM_PFS_SSO'"></app-my-sso>
    </div>
    <div class="col-4">
        <app-my-sso [attachedFormGroup]="attachedFormGroup" [title]="'Número Seguretat Social (required)'" [name]="'CAM_PFS_SSO2'" [required]="true"></app-my-sso>
        </div>

</div>
