<form>
  <div class="row">
    <div class="col">
      <app-my-input-module [title]="'Nom'" [placeholder]="'Introduir Nom'" [name]="'CAM_PFS_NOM'"></app-my-input-module>
    </div>
    <div class="col">
      <app-my-input-module [title]="'Primer cognom'" [placeholder]="'Introduir primer cognom'" [name]="'CAM_PFS_APE_1'"></app-my-input-module>
    </div>
    <div class="col">
        <app-my-input-module [title]="'Segon cognom'" [placeholder]="'Introduir segon cognom'" [name]="'CAM_PFS_APE_2'"></app-my-input-module>
      </div>
    </div>
</form>
